{% extends "base/base-regular-page.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}{% block banner_title %}Rinkimai 2019{% endblock %}{% endblock %}
{% block banner_class %}banner--elections{% endblock %}

{% block main_content %}
    <main class="container container-content mt-3">


        <div class="row mb-3">
            <div class="col-md-6">
                <a href="{% url 'mayor_candidates' %}"
                   class="card d-flex align-items-center justify-content-center card-block-link text-center politicians-block-link">
                    Kandidatai į merus
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'debates' %}"
                   class="card d-flex align-items-center justify-content-center card-block-link text-center kyp-block-link">
                    Debatai
                </a>
            </div>
        </div>


        {% comment %}
            <ul id="rinkimai_tabs" class="nav nav-pills nav-fill mb-5" role="tablist">
                <li class="nav-item pl-1 pr-1">
                    <a class="nav-link nav-link-fill active" id="pills-debatai-tab" data-toggle="tab" href="#debatai" role="tab"
                       aria-controls="pills-debatai" aria-selected="true">Debatai</a>
                </li>
                <li class="nav-item pl-1 pr-1">
                    <a class="nav-link nav-link-fill" id="pills-kandidatai-tab" data-toggle="tab" href="#kandidatai" role="tab"
                       aria-controls="pills-kandidatai" aria-selected="false">Kandidatai į merus</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane active" id="debatai" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div id="map" class="card card--map-img mb-5"></div>

                    <div class="row mb-2 flex-sm-column-reverse flex-lg-row">
                        <div class="col-sm-12 col-lg-8">
                            {% for debate in debates %}
                            <a href="{{debate.facebook_url}}" class="card mb-3">
                                <div class="card-body d-flex">
                                    <div class="d-inline-block">
                                        <h4 class="card-title text-left mb-0">{{debate.name}}</h4>
                                        <span class="text-muted mb-0 text-80">{{debate.location}} &bull;</span>
                                        <span class="text-muted mb-0 text-80">{{debate.date}} {{debate.time}}</span>
                                        <span class="d-block text-muted mb-0 text-80">Moderuos: {{debate.moderator}}</span>
                                    </div>
                                </div>
                            </a>
                            {% empty %}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <p class="text-center">
                                            Kol kas debatai nėra suplanuoti
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-sm-12 col-lg-4 pl-lg-3 mb-3">
                            <aside class="card">
                                <div class="card-body">
                                    <h4 class="card-title d-inline-block">Filtrai</h4>
                                    <!-- TODO Different filters for debates -->
                                    {% crispy mayor_candidates_filters_form %}
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="kandidatai" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row mb-2 flex-sm-column-reverse flex-lg-row">
                        <div class="col-sm-12 col-lg-8">
                            {% for mayor_candidate in mayor_candidates %}
                                <a href="{{ mayor_candidate.profile_url }}" class="card mb-3">
                                    <div class="card-body d-flex">
                                        <span class="d-inline-block card-small-img mr-3" {% if mayor_candidate.photo %}
                                              style="background-image: url('{{ mayor_candidate.photo.url }}');" {% endif %}></span>
                                        <div class="d-inline-block">
                                            <h4 class="card-title text-left mb-0">{{ mayor_candidate.name }}</h4>
                                            <p class="text-muted mb-0 text-80">{{ mayor_candidate.party }}</p>
                                            <p class="text-muted mb-0 text-60">{{ mayor_candidate.municipality }}</p>
                                        </div>
                                    </div>
                                </a>
                                {% empty %}
                                    <div class="card m-2">
                                        <div class="card-body">
                                            <p class="text-center">
                                                Kandidatų į merus, kol kas nėra
                                            </p>
                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-12 col-lg-4 pl-lg-3 mb-3">
                            <aside class="card">
                                <div class="card-body">
                                    <h4 class="card-title d-inline-block">Filtrai</h4>
                                    {% crispy mayor_candidates_filters_form %}
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>

        {% endcomment %}

    </main>

    <div class="container container-content mt-3 mb-3">
        <div class="card banner--newsletter pt-4 pb-4 pl-2 pr-2">
            {% include 'web/component/subscribe-newsletter.html' %}
        </div>
    </div>
{% endblock %}