{% extends "base/base-regular-page.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block banner_title %}{% block title %}Klausimas politikui{% endblock %}{% endblock %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block main_content %}

    <main class="container container-content mt-3">
        <article class="card">
            <div class="card-body">
                {% crispy new_question_form %}
            </div>
        </article>
    </main>
    <div class="container container-content mt-3 mb-3">
        <div class="card banner--newsletter pt-4 pb-4 pl-2 pr-2">
            {% include 'web/component/subscribe-newsletter.html' %}
        </div>
    </div>


    <div class="modal fade" id="kodeksas" tabindex="-1" role="dialog" aria-labelledby="kodeksas"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Etikos kodeksas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Uždaryti">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ol>
                        <li>
                            „Žinau, ką renku“ moderatorių komanda peržiūri visus platformoje pateiktus klausimus.
                            Patvirtinus, jog šie klausimai atitinka etikos kodeksą, jie persiunčiami gavėjui. Siekiant
                            užtikrinti galimybę, jog klausiantysis gaus atsakymą, jis bus informuotas apie klausimo
                            patvirtinimą/atmetimą pateiktu elektroniniu paštu arba pranešimu platformos vartotojo
                            paskyroje.
                            Kiekvienas klausiantysis privalo pateikti galiojantį elektroninio pašto adresą, kuriuo bus
                            informuotas apie atsakymą į klausimą.
                        </li>
                        <li>
                            Visi klausiančiojo duomenys yra anonimiški – nei moderatorių komanda, nei klausimo gavėjas
                            neturi galimybės matyti klausiančiojo pateiktų duomenų, nebent klausimo pateikimo anketoje
                            klausiantysis pažymi, jog nori, kad jo duomenys būtų perduoti. Klausiančiojo duomenys yra
                            užšifruoti bei saugomi platformos duomenų bazėje, sistema automatiškai nusiunčia reikalingus
                            duomenis klausiančiajam be moderatoriaus įsikišimo.
                        </li>
                        <li>
                            Įvykus pakartotiniems elgesio kodekso pažeidimams, „Žinau, ką renku“ komanda pasilieka teisę
                            bendru komandos vadovybės sprendimu apriboti konkrečių klausiančiųjų ar atsakančiųjų
                            galimybes
                            naudoti platformą (IP adreso/elektroninio pašto/vartotojo paskyros blokavimas).
                            Išskirtiniais
                            atvejais, kuomet pažeidžiami galiojantys LR teisės aktai, komanda pasilieka teisę kreiptis į
                            teisėsaugos institucijas.
                        </li>
                        <li>
                            Toliau pateikiami kriterijai klausimų, kurie yra netinkami bei prieštaraujantys elgesio
                            kodeksui
                            ir bus atmesti be papildomo svarstymo:
                            <ul>

                                <li>

                                    Klausimai, kurių turinys yra rasistiškas, seksistiškas, kurstantis nesantaiką,
                                    nepagarbus
                                    asmenims patyrusiems diskriminaciją ar persekiojimą bei nukentėjusiems nuo
                                    antidemokratinių
                                    režimų;
                                </li>
                                <li>
                                    Klausimai frazuojami įžeidžiančia, žeminančia kalba;
                                </li>
                                <li>
                                    Klausimai pažeidžiantys asmens laisvę į privatų gyvenimą;
                                </li>
                                <li>
                                    Klausimai, į kuriuos asmuo negali atsakyti dėl konfidencialumo susitarimų ar
                                    komercinės
                                    paslapties;
                                </li>
                                <li>
                                    Klausimai, kurie ne kvestionuoja poziciją, o išreiškia nuostatą, nuomonę;
                                </li>
                                <li>
                                    Šiukšlės, reklaminio pobūdžio žinutės („spam’as);
                                </li>
                                <li>
                                    Griežtai draudžiami klausimai iš žmonių dirbančių (politinė partija, viešųjų ryšių
                                    agentūra,
                                    asistentai), susijusių giminystės ar kitais galimai kompromituojančiais nešališkumą
                                    ryšiais
                                    su
                                    klausimo gavėju;
                                </li>
                                <li>
                                    Eilė klausimų užduodamų viena formuluote;
                                </li>
                                <li>
                                    Klausimai, užduoti naudojant negaliojantį el. pašto adresą;
                                </li>
                                <li>
                                    Klausimai, kuriuose pateikiamos citatos, faktinė informacija, statistika nenurodant
                                    šaltinių;
                                </li>
                                <li>
                                    Pasikartojantys/tokie patys, kaip kitų klausiančiųjų jau užduoti klausimai.
                                </li>
                            </ul>
                        </li>
                        <li>
                            Neracionalus skaičius klausimų vienam atsakančiajam bus blokuojamas.
                        </li>
                        <li>
                            Formuluotė turi būti kuo aiškesnė ir pateikiama kaip vienas, logiškas, struktūruotas
                            klausimas
                            (nusižengimai šiai taisyklei bus svarstomi atskirai).
                        </li>
                        <li>
                            Siekiant užtikrinti informacijos prieinamumą ir tvarką, bei didesnį atsakytų klausimų
                            skaičių,
                            klausimo apimtis ribojama iki 500 simbolių, įskaitant tarpus.
                        </li>
                        <li>
                            Visi klausimai, po to, kai jie yra patvirtinami, ir atsakymai, po to, kai jie gaunami, yra
                            vieši. Elgesio kodekso pažeidimai yra vienintelė prielaida nutraukti klausimų viešinimą.
                        </li>
                        <li>
                            Kiekvienas užduodantis ar atsakantis į klausimą „Žinau, ką renku“ platformoje pažymi, jog
                            yra
                            susipažinęs ir sutinka su šiuo elgesio kodeksu.
                        </li>
                    </ol>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/lt.js"></script>


    <script>
        $(document).ready(function () {
                function formatPolitician(politician) {
                    if (politician.loading) {
                        return politician.name;
                    }

                    let image_markup = null;
                    if (politician.photo) {
                        image_markup = $('<img>', {
                            src: politician.photo,
                            class: "m-2",
                            width: 36
                        });
                    }

                    return $('<div>', {
                        class: "media clearfix"
                    }).append(
                        $('<div>', {
                            class: 'avatar'
                        }).append(image_markup)
                    ).append(
                        $('<div>', {
                            class: 'media-body'
                        }).append(
                            $('<p>').append(
                                $('<strong>', {
                                    text: politician.name
                                })
                            )
                        ).append($('<p>', {
                            text: politician.short_description
                        })));
                }

                $("#id_politician").select2({
                    ajax: {
                        url: "{% url 'api_politicians_list' %}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                name: params.term,
                                page: params.page || 1
                            };
                        },
                        processResults: function (data, params) {
                            params.page = params.page || 1;


                            const processed_data = $.map(data.results, function (item) {
                                item.text = item.name;

                                return item;
                            });

                            return {
                                results: processed_data,
                                pagination: {
                                    more: data.next !== null
                                }
                            };

                        },
                        cache: true
                    },
                    placeholder: 'Pasirinkite politiką',
                    escapeMarkup: function (markup) {
                        return markup;
                    },
                    minimumInputLength: 1,
                    templateResult: formatPolitician
                });
            }
        )
    </script>
{% endblock %}