{% extends "base/base-regular-page.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block banner_title %}{% block title %}Klausimas politikui{% endblock %}{% endblock %}
{% block banner_class %}banner--questions{% endblock %}

{% block main_content %}

    <main class="container container-content mt-3">
        <div class="card">
            <div class="card-body">

                Dėl VRK ribojimų užduoti klausimo laikinai negalima.

{#                <div class="mb-3">#}
{#                    <a href="{% url 'seimas_politicians' %}" class="btn btn-primary btn-sm">Seimo Nariai</a>#}
{#                    <a href="{% url 'mayor_candidates' %}" class="btn btn-primary btn-sm">Kandidatai į merus</a>#}
{#                </div>#}
{##}
{#                {% crispy new_question_form %}#}

            </div>
        </div>
    </main>
    <div class="container container-content mt-3 mb-3">
        <div class="card banner--newsletter pt-4 pb-4 pl-2 pr-2">
            {% include 'web/component/subscribe-newsletter.html' %}
        </div>
    </div>


    <div class="modal fade" id="kodeksas" tabindex="-1" role="dialog" aria-labelledby="kodeksas"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Etikos kodeksas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Uždaryti">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Iniciatyva <i>Žinau, ką renku</i> yra skirta įgyvendinti nepriklausomą nuo partinių interesų ir
                        nešališką viešą bendravimą tarp piliečių ir politikų. Šios taisyklės galioja visiems iniciatyvos
                        dalyviams.
                    </p>
                    <p>Virtualus bendravimas tarp dalyvių – rinkėjų ir politikų – vykdomas, remiantis nešališkumo ir
                        skaidrumo principais.

                    </p>
                    <ol>
                        <li>
                            Bendrieji reikalavimai dalyvių bendravimui virtualioje platformoje <a
                                href="https://www.zinaukarenku.lt/">www.zinaukarenku.lt</a>:
                            <ol>
                                <li>
                                    <i>Žinau, ką renku</i> moderatorių komanda peržiūri visus platformoje pateiktus
                                    klausimus.
                                    Patvirtinus, jog šie klausimai atitinka Etikos kodeksą, jie persiunčiami gavėjui.
                                    Siekiant užtikrinti galimybę, jog klausiantysis gaus atsakymą, jis bus informuotas
                                    apie
                                    klausimo patvirtinimą/atmetimą pateiktu elektroniniu paštu arba pranešimu platformos
                                    vartotojo paskyroje. Kiekvienas klausiantysis privalo pateikti galiojantį
                                    elektroninio
                                    pašto adresą, kuriuo jis bus informuotas apie atsakymą į klausimą.
                                </li>
                                <li>
                                    Visi klausiančiojo duomenys yra anonimiški – nei moderatorių komanda, nei klausimo
                                    gavėjas neturi galimybės matyti klausiančiojo pateiktų duomenų, nebent klausimo
                                    pateikimo anketoje klausiantysis pažymi, jog nori, kad jo duomenys būtų perduoti.
                                    Klausiančiojo duomenys yra užšifruoti bei saugomi platformos duomenų bazėje, sistema
                                    automatiškai nusiunčia reikalingus duomenis klausiančiajam be moderatoriaus
                                    įsikišimo.
                                </li>
                                <li>
                                    Įvykus pakartotiniams Etikos kodekso pažeidimams, <i>Žinau, ką renku</i> komanda
                                    turi
                                    teisę bendru iniciatyvinės grupės sprendimu apriboti konkrečių klausiančiųjų ar
                                    atsakančiųjų galimybes naudoti platformą (IP adreso/elektroninio pašto/vartotojo
                                    paskyros blokavimas).

                                </li>
                            </ol>
                        </li>
                        <li>
                            Toliau pateikiami kriterijai klausimų, kurie yra netinkami bei prieštaraujantys Etikos
                            kodeksui ir bus atmesti be papildomo svarstymo:

                            <ol>
                                <li>
                                    Klausimai, kurių turinys yra rasistiškas, seksistiškas, kurstantis nesantaiką,
                                    nepagarbus asmenims, patyrusiems diskriminaciją ar persekiojimą bei nukentėjusiems
                                    nuo antidemokratinių režimų;
                                </li>
                                <li>
                                    Klausimai, suformuluoti įžeidžiančia, žeminančia kalba;
                                </li>
                                <li>
                                    Klausimai, pažeidžiantys asmens laisvę į privatų gyvenimą;
                                </li>
                                <li>
                                    Klausimai, į kuriuos asmuo negali atsakyti dėl konfidencialumo susitarimų ar
                                    komercinės paslapties;
                                </li>
                                <li>
                                    Klausimai, kuriais norima ne išsiaiškinti kandidato poziciją, o išreikšti
                                    nuostatą ar nuomonę;
                                </li>
                                <li>
                                    Šiukšlės, reklaminio pobūdžio žinutės (spam’as);
                                </li>
                                <li>
                                    Griežtai draudžiami klausimai iš asmenų, susijusių su politinėmis partijomis, joms
                                    paslaugas teikiančių viešųjų ryšių agentūrų, konsultantų, taip pat susijusių
                                    giminystės ar kitais ryšiais su klausimo gavėju;
                                </li>
                                <li>
                                    Klausimai, užduoti naudojant negaliojantį el. pašto adresą;
                                </li>
                                <li>
                                    Klausimai, kuriuose pateikiamos citatos, faktinė informacija, statistika nenurodant
                                    šaltinių;
                                </li>
                                <li>
                                    Pasikartojantys/tokie patys, kaip kitų klausiančiųjų jau užduoti klausimai.
                                </li>
                            </ol>
                        </li>
                        <li>
                            Neracionalus kiekis klausimų vienam atsakančiajam bus blokuojamas.
                        </li>
                        <li>
                            Klausimai ir atsakymai turi būti formuluojami kuo aiškiau ir tiksliau.
                        </li>
                        <li>
                            Siekiant užtikrinti informacijos prieinamumą ir tvarką bei didesnį atsakytų klausimų
                            skaičių, klausimo apimtis ribojama iki 500 simbolių, įskaitant tarpus.
                        </li>
                        <li>
                            Visi patvirtinti klausimai ir atsakymai yra vieši. Etikos kodekso pažeidimai yra
                            vienintelė prielaida nutraukti klausimų skelbimą.
                        </li>
                        <li>
                            Kiekvienas užduodantis ar atsakantis į klausimą <i>Žinau, ką renku</i> platformoje pažymi,
                            jog yra susipažinęs ir sutinka su šiuo Etikos kodeksu.
                        </li>
                        <li>
                            Pažeidus Etikos kodeksą klausimas yra atmetamas ir klausiančiajam pranešama, kodėl jo
                            klausimas buvo atmestas..Pasikartojus pažeidimams, bendru iniciatyvinės grupės sprendimu
                            dalyvis pašalinamas. Dėl grubių LR teisės aktų pažeidimų iniciatyvos koordinatorius gali
                            kreiptis į teisėsaugos institucijas.
                        </li>
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Uždaryti</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% include 'web/js/politician-select.js.html' with selector="#id_politician" placeholder="Pasirinkite politiką" %}
{% endblock %}