{% extends "base/base-regular-page.html" %}
{% load static %}
{% block title %}{% block banner_title %}Klausimai politikams{% endblock %}{% endblock %}
{% block banner_class %}banner--questions{% endblock %}
{% block main_content %}
    {% include 'component/new-question-note.html' %}

    <main class="container container-content mt-3">
        <!-- TODO Pagination -->
        {% include 'component/questions-media-list.html' with questions=questions show_politician_info=True empty_message="Nėra jokių klausimų!" %}
    </main>
    <div class="container container-content mt-3 mb-3">
        <div class="card banner--newsletter pt-4 pb-4 pl-2 pr-2">
            {% include 'web/component/subscribe-newsletter.html' %}
        </div>
    </div>
{% endblock %}