{% extends "base/base-regular-page.html" %} 
{% load static %} 
{% block title %}{% block banner_title %}Klausimai politikams{% endblock %}{% endblock %} 
{% block main_content %}
<div class="note note--button text-center">
    <a class="text-uppercase d-block fs-10 fw-500 ls-1" href="{% url 'new_question' %}">Užduoti naują klausimą politikui</a>
</div>

<main class="container container-content mt-3">
    <!-- TODO Pagination -->
    {% include 'component/questions-media-list.html' with questions=questions show_politician_info=True %}
</main>
<div class="container container-content mt-3 mb-3">
    <div class="card banner--newsletter pt-4 pb-4 pl-2 pr-2">
        {% include 'web/component/subscribe-newsletter.html' %}
    </div>
</div>
{% endblock %}