{% extends "base/base-regular-page.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block banner_title %}{% block title %}{{ question.name|default:question.status_text }}{% endblock %}{% endblock %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block main_content %}
    {% include 'component/new-question-note.html' %}

    {% if question.rejected_reason %}
        <div class="note text-center">
            <span class="d-block">Klausimas atmestas</span>
            <p class="mb-0">{{ question.rejected_reason }}</p>
        </div>
    {% endif %}

    <main class="container container-content mt-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">

                    <span class="d-inline-block card-small-img mr-3"
                          style="background-image:url('{{ question.created_by.photo_url }}');"></span>
                    <div class="d-inline-block">
                        <h3 class="card-title mb-0">{{ question.created_by.get_full_name }}</h3>
                        <time class="d-inline-block text-muted">{{ question.last_activity|naturaltime }} &bull;</time>
                        <span class="d-inline-block text-muted">Klausimas skirtas: </span>
                        {% if question.politician.get_absolute_url %}
                            <a href="{{ question.politician.get_absolute_url }}">{{ question.politician }}</a>
                        {% else %}
                            <span class="d-inline-block text-muted">{{ question.politician }}</span>
                        {% endif %}
                        <div class="card-text mt-3">{{ question.text|linebreaks }}</div>
                    </div>
                </div>

                {% if question.has_politician_answer %}
                    <h4 class="card-title mt-5 mb-2">Atsakymas</h4>

                    <div class="d-flex">
                        {% if question.politician_photo_url %}
                            <span class="d-inline-block card-small-img mr-3"
                                  style="background-image:url('{{ question.politician_photo_url }}');">
                            </span>
                        {% endif %}
                        <div class="d-inline-block">
                            <h3 class="card-title m-0">{{ question.politician }}</h3>
                            <time class="d-inline-block text-muted">{{ question.politian_answer.created_at|naturaltime }}</time>
                            <div class="card-text mt-3">{{ question.politian_answer.text|linebreaks }}</div>
                        </div>
                    </div>
                {% else %}
                    <span class="d-block text-muted text-eyebrow mt-1"
                          style="padding-left: 70px;">{{ question.status_text }}</span>
                {% endif %}
            </div>
        </div>
        {% if politician_answer_form %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Atsakyti į klausimą</h3>
                    {% crispy politician_answer_form politician_answer_form.form.helper %}
                </div>
            </div>
        {% endif %}
    </main>
    <div class="container container-content mt-3 mb-3">
        <div class="card banner--newsletter pt-4 pb-4 pl-2 pr-2">
            {% include 'web/component/subscribe-newsletter.html' %}
        </div>
    </div>
{% endblock %}