{% extends "base/base-regular-page.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}{% block banner_title %}Debatai 2019{% endblock %}{% endblock %}
{% block banner_class %}banner--elections{% endblock %}

{% block head %}
    <style>
        .hidden {
            display: none;
        }

        .nav-link {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block main_content %}
    <main class="container container-content mt-3">
        <h3 class="text-center text-md-left mt-4 mb-3">Europos Parlamento debatai</h3>
        <div class="row mb-2 justify-content-between">
            
            {% for debate in debates_ep %}
                <a href="{{ debate.facebook_url }}" class="card card--flex mb-3">
                    <div class="card-body d-flex">
                        <div class="d-inline-block">
                            <h4 class="card-title text-left mb-0">{{ debate.name }}</h4>
                            <span class="text-muted mb-0 text-80">{{ debate.location }} &bull;</span>
                            <span class="text-muted mb-0 text-80">{{ debate.date }} {{ debate.time }}</span>
                            <span class="d-block text-muted mb-0 text-80">Moderuos: {{ debate.moderator }}</span>
                        </div>
                    </div>
                </a>
            {% empty %}
                <div class="card mb-3 flex-grow-1">
                    <div class="card-body">
                        <p class="text-center mb-0">
                            Kol kas debatai nėra suplanuoti
                        </p>
                    </div>
                </div>
            {% endfor %}
            {% comment %}
            <div class="col-sm-12 col-lg-8">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <span class="nav-link" data-tour-tab-id="1">I turas</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" data-tour-tab-id="2">II turas</span>
                    </li>
                </ul>
                <div class="tour-content" data-tour-content="1">
                    {% for debate in debates_1_tour %}
                        <a href="{{ debate.facebook_url }}" class="card mb-3">
                            <div class="card-body d-flex">
                                <div class="d-inline-block">
                                    <h4 class="card-title text-left mb-0">{{ debate.name }}</h4>
                                    <span class="text-muted mb-0 text-80">{{ debate.location }} &bull;</span>
                                    <span class="text-muted mb-0 text-80">{{ debate.date }} {{ debate.time }}</span>
                                    <span class="d-block text-muted mb-0 text-80">Moderuos: {{ debate.moderator }}</span>
                                </div>
                            </div>
                        </a>
                    {% empty %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="text-center">
                                    Kol kas debatai nėra suplanuoti šioje savivaldybėje
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tour-content" data-tour-content="2">
                    {% for debate in debates_2_tour %}
                        <a href="{{ debate.facebook_url }}" class="card mb-3">
                            <div class="card-body d-flex">
                                <div class="d-inline-block">
                                    <h4 class="card-title text-left mb-0">{{ debate.name }}</h4>
                                    <span class="text-muted mb-0 text-80">{{ debate.location }} &bull;</span>
                                    <span class="text-muted mb-0 text-80">{{ debate.date }} {{ debate.time }}</span>
                                    <span class="d-block text-muted mb-0 text-80">Moderuos: {{ debate.moderator }}</span>
                                </div>
                            </div>
                        </a>
                    {% empty %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="text-center">
                                    Kol kas debatai nėra suplanuoti šioje savivaldybėje
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-12 col-lg-4 pl-lg-3 mb-3">
                <aside class="card">
                    <div class="card-body">
                        <h4 class="card-title d-inline-block">Filtrai</h4>
                        {% crispy mayor_candidates_filters_form %}
                    </div>
                </aside>
            </div>
            {% endcomment %}
        </div>
    </main>

{% endblock %}

{% block script %}
    <script>
        (function () {
            var QUERY_KEY = 'tour_id';
            var activeTour = parseInt(getQueryParam(QUERY_KEY));
            console.log(activeTour);
            if (!activeTour) {
                activeTour = 2;
            }

            var tourTabs = $('[data-tour-tab-id]');
            var tourContents = $('[data-tour-content]');

            setTourActive();

            tourTabs.click(function () {
                activeTour = parseInt($(this).data('tour-tab-id'));
                setTourActive();
            });

            function setTourActive() {
                tourTabs.each(function (i, el) {
                    var $el = $(el);
                    if ($el.data('tour-tab-id') === activeTour) {
                        $el.addClass('active');
                    } else {
                        $el.removeClass('active');
                    }
                });

                tourContents.each(function (i, el) {
                    var $el = $(el);
                    if ($(el).data('tour-content') === activeTour) {
                        $el.removeClass('hidden');
                    } else {
                        $el.addClass('hidden');
                    }
                });

                updateQueryParam(QUERY_KEY, activeTour);
            }

            function getQueryParam(name) {
                var url = window.location.href;
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }

            function updateQueryParam(key, value) {
                var uri = window.location.href;
                var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                var separator = uri.indexOf('?') !== -1 ? "&" : "?";
                var newUri;
                if (uri.match(re)) {
                    newUri = uri.replace(re, '$1' + key + "=" + value + '$2');
                } else {
                    newUri = uri + separator + key + "=" + value;
                }
                window.history.pushState("", "", newUri);
            }
        })();
    </script>
{% endblock %}