{% extends "base/base-regular-page.html" %}
{% load static %}
{% block title %}{% block banner_title %}Seimas{% endblock %}{% endblock %}

{% block main_content %}
    <main class="container container-content mt-3">
        <div class="row mb-2">
            <div class="col-md-6">
                <a href="{% url 'seimas_politicians' %}"
                   class="card d-flex align-items-center justify-content-center card-block-link text-center">
                    Seimo nariai
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'seimas_politician_game' %}"
                   class="card d-flex align-items-center justify-content-center card-block-link text-center">
                    Pažink politiką
                </a>
            </div>
        </div>
    </main>
<div class="container container-content mt-3 mb-3">
    <div class="card banner--newsletter pt-4 pb-4 pl-2 pr-2">
        {% include 'web/component/subscribe-newsletter.html' %}
    </div>
</div>
{% endblock %}