{% extends "base/base-regular-page.html" %}
{% load crispy_forms_tags %}
{% block title %}Lietuvos Respublikos Seimo nariai{% endblock %}
{% block banner_title %}Lietuvos Respublikos Seimo nariai{% endblock %}
{% block banner_class %}banner--politicians{% endblock %}

{% block main_content %}
    {% include 'web/component/note/filters-mobile-note.html' %}
    <main class="container container-content mt-3">
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                {% for politician in politicians %}
                    <a href="{{ politician.profile_url }}" class="card mb-3">
                        <div class="card-body d-flex">
                            <span class="d-inline-block card-small-img mr-3" {% if politician.photo %}
                                  style="background-image:url('{{ politician.photo.url }}');" {% endif %}></span>
                            <div class="d-inline-block">
                                <h4 class="card-title text-left mb-0">{{ politician.name }}</h4>
                                <p class="text-muted mb-0 text-80">{{ politician.committees_names_text }}</p>
                                <p class="text-muted mb-0 text-60">{{ politician.fraction_name|default_if_none:"" }}</p>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <div class="card m-2">
                        <div class="card-body">
                            <p class="text-center">
                                Seimo narių pagal pasirinktus kriterijus nerasta.
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% include 'web/component/filters-card.html' with filters_form=filters_form %}
        </div>
    </main>
{% endblock %}