{% extends "base/base-page.html" %} {% block title %}Politikai{% endblock %} {% block description %}TODO description{% endblock %} {% block content %}
<main style="padding-top: 75px">
    <div class="container">
        {% for politician in politicians %}
        <div class="card mb-3">
            <div class="card-body">
                <span class="card-small-img mr-3" {% if politician.photo %} style="background-image:url('{{ politician.photo.url }}');" {% endif %}></span>
                <a href="{{ politician.profile_url }}" class="card-title">{{ politician.name }}</a>
                <span class="text-muted">{{ politician.elected_party }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}