{% extends "base/base-regular-page.html" %}
{% load static %}
{% block banner_title %}{% block title %}Apie organizaciją{% endblock %}{% endblock %}
{% block banner_class %}banner--about{% endblock %}
{% block main_content %}

    <main class="container container-content mt-3">
        <article class="card">
            <div class="card-body">
                <h3 class="text-left mt-3">Mūsų tinklas</h3>
                <p class="text-muted">
                    „Žinau, ką renku“ – tai nešališkas politikos stebėsenos tinklas, kuriame dalyvauja jauni žmonės iš
                    įvairių Lietuvos miestų ir miestelių. Siekiame, kad Lietuvos politikai būtų atskaitingi rinkėjams,
                    todėl skatiname piliečius sąmoningai dalyvauti viešajame gyvenime ne tik prieš rinkimus, bet ir po
                    jų.
                </p>
                <p class="text-muted">
                    Politikos stebėseną vykdome nuo 2014 metų. Mūsų nuomone politikų išvaizda ir populistiniai pažadai –
                    netinkami pasirinkimo kriterijai, todėl padedame rinkėjams rasti argumentų ir patikrinti faktus,
                    kurie padėtų jiems apsispręsti, už ką balsuoti. Prieš rinkimus organizuojame debatus tarp kandidatų,
                    o po rinkimų – viešas diskusijas su išrinktaisiais politikais ir jų ataskaitas rinkėjams. Be to,
                    prieš rinkimus kiekvienam siūlome galimybę viešai užduoti klausimus kandidatams ir susipažinti su jų
                    atsakymais. Po rinkimų atnaujinome platformą Lietuvos Respublikos Seimo veiklos stebėsenai, kur
                    galite analizuoti ir įvertinti jūsų išrinktų politikų nuveiktus darbus, taip pat užduoti jiems
                    klausimus. 2018-2019 metais veiklą įgyvendinti mums padeda programa Erasmus+.
                </p>

                <h3 class="text-left mt-3">Kontaktai</h3>
                <p class="text-muted">
                    Su mumis galite susisiketi rašydami mums <a href="mailto:info@zinaukarenku.lt">elektroniniu
                    paštu</a> arba skambindami telefonu <a href="tel:+37061626387">+370 616 26 387</a> arba <a href="tel:+37069173571">+370 691 73 571</a>. Taip pat galite
                    mus sekti socialiniuose tinkluose:
                </p>
                <div>
                    <a href="https://www.facebook.com/zinaukarenku/?fref=ts" class="mr-2"
                       title="Facebook - Žinau, ką renku" target="_blank" rel="noreferrer"><i
                            class="fab fa-facebook-square fa-lg" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/zinaukarenku" class="mr-2" title="Twitter - Žinau, ką renku"
                       target="_blank" rel="noreferrer"><i class="fab fa-twitter fa-lg" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/zinaukarenku/" class="mr-2" title="Instagram - Žinau, ką renku"
                       target="_blank" rel="noreferrer"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i></a>
                </div>

                <h3 class="text-left mt-3">Veiklų komandos</h3>
                {% regroup members by group as members_by_group %}
                {% for group, members in members_by_group %}
                    <h4 class="text-left text-eyebrow mt-3 mb-2">{{ group.name }}</h4>
                    <div class="d-flex flex-wrap">
                        {% for member in members %}
                            {% include 'web/component/organization-member-card.html' with member=member show_role=True %}
                        {% endfor %}
                    </div>
                {% endfor %}
                <h3 class="text-left mt-3">Regioninės komandos</h3>
                {% for municipality in municipalities_with_members %}
                    <h4 class="text-left text-eyebrow mt-3 mb-2">{{ municipality.name }}</h4>
                    <div class="d-flex flex-wrap">
                        {% for member in municipality.organization_members.all %}
                            {% include 'web/component/organization-member-card.html' with member=member show_role=False %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </article>
    </main>
    <div class="container container-content mt-3 mb-3">
        <div class="card banner--newsletter pt-4 pb-4 pl-2 pr-2">
            {% include 'web/component/subscribe-newsletter.html' %}
        </div>
    </div>
{% endblock %}
