{% extends "base/base-regular-page.html" %}
{% load static %}
{% block title %}Politinės stebėsenos platforma{% endblock %}

{% block banner_title %}Žinau, ką renku{% endblock %}
{% block banner_description %}Politinės stebėsenos platforma{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block main_content %}

    <div class="row mb-2">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="{% url 'seimas_politician_game' %}"
               class="card d-flex align-items-center justify-content-center card-block-link text-center">Pažink
                politiką</a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="https://www.facebook.com/events/474276509707298/"
               class="card d-flex align-items-center justify-content-center card-block-link text-center">ŽKR -
                Laisvės Piknike</a>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <a href="{% url 'user_profile' %}"
               class="card d-flex align-items-center justify-content-center card-block-link text-center">Vartotojo
                profilis</a>
        </div>
    </div>

    {% comment %} {% regroup members by group as members_by_group %}
<hr>
<h2>Organizacijos nariai</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Vardas
            </th>
            <th>
                Rolė
            </th>
            <th>
                Photo
            </th>
            <th>
                LinkedIn
            </th>
            <th>
                Facebook
            </th>
            <th>
                Twitter
            </th>
        </tr>
    </thead>
    <tbody>
        {% for group, members in members_by_group %}
        <tr>
            <th class="text-center" colspan="6">
                {{ group.name }}
            </th>
        </tr>
        {% for member in members %}
        <tr>
            <td>
                {{ member.name }}
            </td>
            <td>
                {{ member.role }}
            </td>
            <td>
                <img src="{{ member.photo.url }}">
            </td>
            <td>
                {% if member.linkedin_url %}
                <a href="{{ member.linkedin_url }}">{{ member.linkedin_url }}</a> {% else %} - {% endif %}
            </td>
            <td>
                {% if member.facebook_url %}
                <a href="{{ member.facebook_url }}">{{ member.facebook_url }}</a> {% else %} - {% endif %}
            </td>
            <td>
                {% if member.twitter_url %}
                <a href="{{ member.twitter_url }}">{{ member.twitter_url }}</a> {% else %} - {% endif %}
            </td>
        </tr>
        {% endfor %} {% endfor %}
    </tbody>
</table>
<hr> {% endcomment %}

    <div class="draugai">
        <div class="container">
            <h3 class="text-center">Mūsų draugai</h3>
            <div class="row flex-wrap">
                {% for partner in partners %}
                    <div class="col-md-6 d-flex">
                        <a href="{{ partner.url }}" class="mx-auto my-auto" target="_blank" rel="noopener"
                           title="{{ partner.name }}">
                            <img src="{{ partner.logo.url }}">
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}