{% extends "base/base-regular-page.html" %}
{% load static %}
{% block title %}Politinės stebėsenos platforma{% endblock %}


{% block head %}
    <style>
        .timer-symbols {
            color: #59387a;
            font-size: 90px;
        }

        .hidden {
            display: none;
        }

        .timer-header {
            text-transform: uppercase;
            font-weight: 600;
        }

        .nav-link {
            cursor: pointer;
        }

        @media (max-width: 747px) {
            .timer-symbols {
                font-size: 50px;
            }

            .timer-header {
                font-size: 21px;
            }
        }
    </style>
{% endblock %}

{% block map %}
    <div class="container container-content">
        <div class="row">
            {% if voting_in_session %}
                {% if voting_ended %}
                    <div class="col-sm-12" style="margin-top: 20px">
                        <ul class="nav nav-pills nav-fill align-items-center mb-3 pl-1 pr-1 pl-md-0 pr-md-0">
                            <li class="nav-item text-center">
                                <span class="nav-link active" data-map-tab="1">Prezidento rinkimų aktyvumas</span>
                            </li>
                            <li class="nav-item text-center">
                                <span class="nav-link" data-map-tab="2">Prezidento rinkimų rezultatai</span>
                            </li>
                            <li class="nav-item text-center">
                                <span class="nav-link" data-map-tab="3">EP rezultatai</span>
                            </li>
                        </ul>
                        <div data-map-content="1">
                            <iframe style="width: 100%; min-height: 600px; border: none" scrolling="no" marginheight="0"
                                    marginwidth="0"
                                    src="https://rinkimai.maps.lt/rinkimai2019/aktyvumas/?embed=1&map=2"></iframe>
                        </div>
                        <div data-map-content="2">
                            <iframe style="width: 100%; min-height: 600px; border: none" scrolling="no" marginheight="0"
                                    marginwidth="0"
                                    src="https://rinkimai.maps.lt/rinkimai2019/prezidentas/?embed=1&map=2"></iframe>
                        </div>
                        <div data-map-content="3">
                            <iframe style="width: 100%; min-height: 600px; border: none" scrolling="no" marginheight="0"
                                    marginwidth="0"
                                    src="https://rinkimai.maps.lt/rinkimai2019/ep/?embed=1&map=1"></iframe>
                        </div>
                    </div>
                {% else %}
                    <div class="text-center mt-2 mb-3" style="width: 100%;" id="timer-container">
                        <h3 class="mt-3 mb-2 timer-header">Laikas iki prezidento rinkimų II turo ir EP balsavimo
                            pabaigos</h3>
                        <div class="col-md-8 offset-md-2 col-xs-12 align-items-center">
                            <div style="display: flex; justify-content: space-between">
                                <div>
                                    <div id="days" class="timer-symbols">0</div>
                                    <span class="d-none d-sm-block">DIENŲ</span>
                                    <span class="d-md-none">D</span>
                                </div>
                                <div>
                                    <div id="hours" class="timer-symbols">00</div>
                                    <span class="d-none d-sm-block">VALANDOS</span>
                                    <span class="d-md-none">VAL</span>
                                </div>
                                <div>
                                    <div id="minutes" class="timer-symbols">00</div>
                                    <span class="d-none d-sm-block">MINUTĖS</span>
                                    <span class="d-md-none">MIN</span>
                                </div>
                                <div>
                                    <div id="seconds" class="timer-symbols">00</div>
                                    <span class="d-none d-sm-block">SEKUNDĖS</span>
                                    <span class="d-md-none">SEK</span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <main class="container container-content mt-3">
        <div class="row">
            <img src="{% static 'img/ZEMELAPIS_pilnas_reduced.jpg'%}"/>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a href="{% url 'seimas_candidates' %}"
                   class="card d-flex align-items-center justify-content-center card-block-link text-center candidate-block-link">
                    Kandidatai į Seimą
                </a>
            </div>
            <div class="col-sm-12 col-md-6">
                <a href="{% url 'debates' %}"
                   class="card d-flex align-items-center justify-content-center card-block-link text-center debates-block-link">
                    Debatai
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a href="{% url 'questions_list' %}"
                   class="card d-flex align-items-center justify-content-center card-block-link text-center questions-block-link">Klausimai
                    politikams</a>
            </div>

            <div class="col-sm-12 col-md-6">
                <a href="{% url 'join_us' %}"
                   class="card d-flex align-items-center justify-content-center card-block-link text-center mes-block-link">Prisijunk</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <a href="{% url 'seimas_politician_game' %}"
                   class="card d-flex align-items-center justify-content-center card-block-link text-center kyp-block-link">Pažink
                    politiką</a>
            </div>

            <div class="col-sm-12 col-md-6">
                <a href="{% url 'seimas_politicians' %}"
                   class="card d-flex align-items-center justify-content-center card-block-link text-center politicians-block-link">Seimo
                    nariai</a>
            </div>
        </div>
    </main>
    <div class="d-none container container-content mt-3 mb-3">
        <div class="card banner--newsletter pt-4 pb-4 pl-2 pr-2">
            {% include 'web/component/subscribe-newsletter.html' %}
        </div>
    </div>
    <div class="draugai">
        <div class="container">
            <h3 class="text-center">Mūsų draugai</h3>
            <div class="row flex-wrap">
                {% for partner in partners %}
                    <div class="col-md-6 d-flex pb-3">
                        <a href="{{ partner.url }}" class="mx-auto my-auto" target="_blank" rel="noopener"
                           title="{{ partner.name }}">
                            <img class="img--partner-logo" src="{{ partner.logo.url }}" alt="{{ partner.name }}"
                                 width="100%">
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% if not voting_ended %}
        <script>
            (function () {
                var daysElement = document.querySelector('#days');
                var hoursElement = document.querySelector('#hours');
                var minutesElement = document.querySelector('#minutes');
                var secondsElement = document.querySelector('#seconds');

                var countDownDate = new Date(2019, 4, 26, 20, 0, 0).getTime();

                var timer = setInterval(function () {
                    var now = new Date().getTime();
                    var distance = countDownDate - now;

                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    daysElement.innerText = days;
                    hoursElement.innerText = padding(hours, 2);
                    minutesElement.innerText = padding(minutes, 2);
                    secondsElement.innerText = padding(seconds, 2);

                    if (distance < 0) {
                        clearInterval(timer);
                    }
                }, 1000);

                function padding(num, width, symbol) {
                    symbol = symbol || '0';
                    num = num + '';
                    return num.length >= width ? num : new Array(width - num.length + 1).join(symbol) + num;
                }
            })();
        </script>
    {% else %}
        <script>
            (function () {
                var $tabs = $('[data-map-tab]');
                var $contents = $('[data-map-content]');

                setActiveTab(1);

                $tabs.click(function () {
                    var tabId = parseInt($(this).data('map-tab'));
                    setActiveTab(tabId)
                });

                function setActiveTab(tabId) {
                    $tabs.each(function (i, tab) {
                        var $tab = $(tab);
                        if (parseInt($tab.data('map-tab')) === tabId) {
                            $tab.addClass('active');
                        } else {
                            $tab.removeClass('active');
                        }
                    });

                    $contents.each(function (i, content) {
                        var $content = $(content);
                        if (parseInt($content.data('map-content')) === tabId) {
                            $content.removeClass('hidden');
                        } else {
                            $content.addClass('hidden');
                        }
                    });
                }
            })();
        </script>
    {% endif %}
{% endblock %}
