{% extends "base/base-regular-page.html" %}
{% load static %}
{% block banner_title %}{% block title %}Prisijunk{% endblock %}{% endblock %}
{% block banner_class %}banner--about{% endblock %}
{% block main_content %}

    <main class="container container-content mt-3">
        <div class="card">
            <div class="card-body">
                <p>
                    Prieš praėjusius Seimo rinkimus girdėjome politikus sakant, kad
                    „politika – purvinas reikalas“, o tokio svarbaus dalyko kaip rinkimai negalima patikėti jauniems
                    žmonėms.
                    „Baikit –
                    nemanau“, - atsakome mes ir kviečiam prisijungti prie mūsų komandos 2021 metų politikų stebėsenos!
                </p>
                <h3 class="font-weight-bold">Ką veiksi prisijungęs prie „Žinau, ką renku" tinklo?</h3>

                <ul class="pl-4">
                    <li class="mb-2">Bursi bendraminčių komandas savo miestuose ir rajonuose, kurios stebės savivaldybės, nacionalinių ir Europos politikų veiklą tavo mieste,</li>
                    <li class="mb-2">Organizuosi diskusijas su politikais savo mieste,</li>
                    <li class="mb-2">Organizuosi „Žinau, ką renku“ pristatymus savo bendruomenėse,</li>
                    <li class="mb-2">Organizuosi ir vykdysi socialines akcijas ir komunikaciją (pvz., bendrausite su žurnalistais, renginių vedėjais, skelbsi žinutes socialinėse medijose)</li>
                </ul>

                <h3 class="font-weight-bold">Kodėl verta dalyvauti?</h3>

                <p>Užmegsi daugybę įdomių pažinčių su politikais, žurnalistais ir bendraminčiais iš visos Lietuvos,
                    įgysi gebėjimų komunikacijos, viešojo kalbėjimo, renginių organizavimo, darbo komandoje,
                    informacinių technologijų ir kitose srityse.
                </p>
                <p>O svarbiausia, prisidėsi prie skaidresnės ir atviresnės politikos formavimosi Lietuvoje.</p>
                
                <p>Jei turi klausimų apie tinklą, rašyk <a href="mailto:ausrine@zinaukarenku.lt">ausrine@zinaukarenku.lt</a></p>
                
                <form action="https://docs.google.com/forms/d/e/1FAIpQLSf2FsR35Ot745VJ_nj1OCjB6m0QcmIFPyzCmLsU47OpRHoZSA/formResponse" method="POST">
                    <fieldset>
                        <div class="form-group">
                            <label for="firstlastname" class="font-weight-bold">Vardas, pavardė</label>
                            <input id="firstlastname" type="text" name="entry.1149644569" class="form-control" style="background-size: 16px 18px; background: no-repeat scroll 98% 50%;">
                        </div>
                        <div class="form-group">
                            <label for="savivaldybe" class="font-weight-bold">Savivaldybė, miestas, rajonas</label>
                            <input id="savivaldybe" type="text" class="form-control" name="entry.1808753272">
                        </div>
                        <div class="form-group">
                            <label for="birthplace" class="font-weight-bold">Gimimo data</label>
                            <input id="birthdate" type="date" class="form-control" name="entry.787407428">
                        </div>
                        <div class="form-group">
                            <label for="education" class="font-weight-bold">
                                Išsilavinimas (mokymo įstaiga (mokykla/universitetas ar kt.), metai (klasė/studijų programa, kursas)
                            </label>
                            <input id="education" type="text" name="entry.2111987980" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email" class="font-weight-bold">El. paštas</label>
                            <input id="email" type="text" class="form-control" name="entry.1896507839">
                        </div>
                        <div class="form-group">
                            <label for="telnr" class="font-weight-bold">Telefono numeris</label>
                            <input id="telnr" type="tel" class="form-control" name="entry.107429591">
                        </div>
                        <div class="form-group">
                            <label for="experience" class="font-weight-bold">Ar/kokios patirties turi visuomeninėje veikloje?</label>
                            <textarea id="experience" rows="6" class="form-control" name="entry.613197017"></textarea>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Prie kurios srities/veiksmų manai, jog labiausiai norėtum prisidėti?</p>
                            <div class="form-check">
                                <input id="a1" class="form-check-input" type="checkbox" name="entry.1534884251" value="Susitikimų ir diskusijų su politikais organizavimas">
                                <label for="a1" class="form-check-label">Susitikimų ir diskusijų su politikais organizavimas</label>
                            </div>
                            <div class="form-check">
                                <input id="a2" class="form-check-input" type="checkbox" name="entry.1534884251" value="Komunikacija (socialinių medijų administravimas, bendravimas su žurnalistais ir pan.)">
                                <label for="a2" class="form-check-label">Komunikacija (socialinių medijų administravimas, bendravimas su žurnalistais ir pan.)</label>
                            </div>
                            <div class="form-check">
                                <input id="a3" class="form-check-input" type="checkbox" name="entry.1534884251"value="Politikų pasisakymų viešojoje erdvėje ir veiklos stebėjimas">
                                <label for="a3" class="form-check-label">Politikų pasisakymų viešojoje erdvėje ir veiklos stebėjimas</label>
                            </div>
                            <div class="form-check">
                                <input id="a4" class="form-check-input" type="checkbox" name="entry.1534884251" value="Analitinių straipsnių rengimas">
                                <label for="a4" class="form-check-label">Analitinių straipsnių rengimas</label>
                            </div>    
                            <div class="form-check">
                                <input id="a5" class="form-check-input" type="checkbox" name="entry.1534884251" value="Virtualios platformos www.zinaukarenku.lt veikimas">
                                <label for="a5" class="form-check-label">Virtualios platformos www.zinaukarenku.lt veikimas</label>
                            </div>
                            <div class="form-check">
                                <input id="a6" class="form-check-input" type="checkbox" name="entry.1534884251" value="Edukacinių užsiėmimų apie politikų veiklą ir pilietiškumą savo bendruomenėje rengimas">
                                <label for="a6" class="form-check-label">Edukacinių užsiėmimų apie politikų veiklą ir pilietiškumą savo bendruomenėje rengimas</label>
                            </div>
                            <label for="a7">Kita:</label>
                            <input id="a7" type="text" name="entry.1534884251" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="motivation" class="font-weight-bold">Trumpai aprašyk savo motyvaciją prisijungti prie „Žinau, ką renku“ tinklo</label>
                            <textarea id="motivation" rows="5" name="entry.1749684762" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="nesidomi" class="font-weight-bold">Kaip manai, kodėl jauni žmonės tavo aplinkoje nesidomi politika?</label>
                            <textarea id="nesidomi"rows="5" name="entry.837527452" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="problemos" class="font-weight-bold">Įvardyk 3 aktualiausias problemas savo savivaldybėje. Kodėl jas pasirinkai?</label>
                            <textarea id="problemos" rows="5" name="entry.1141944849" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Iš kur sužinojai apie stebėsenos tinklą „Žinau, ką renku"?</p>
                            <div class="form-check">
                                <input id="b1" class="form-check-input" type="checkbox" name="entry.1972270650" value="Draugų, veikiančių iniciatyvoje">
                                <label for="b1" class="form-check-label">Draugų, veikiančių iniciatyvoje</label>
                            </div>
                            <div class="form-check">
                                <input id="b2" class="form-check-input" type="checkbox" name="entry.1972270650" value="Socialinių tinklų (Facebook, Instagram, Twitter)">
                                <label for="b2" class="form-check-label">Socialinių tinklų (Facebook, Instagram, Twitter)</label>
                            </div>
                            <div class="form-check">
                                <input id="b3" class="form-check-input" type="checkbox" name="entry.1972270650" value="Mokytojų ar jaunimo darbuotojų">
                                <label for="b3" class="form-check-label">Mokytojų ar jaunimo darbuotojų</label>
                            </div>
                            <label for="b4">Kita:</label>
                            <input id="b4" type="text" name="entry.1972270650" class="form-control">
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Tapęs tinklo nariu pasirašysi 
                                <a href="http://eurohouse.lt/wp-content/uploads/2018/07/Dalyvio-nesaliskumo-ir-konfidencialumo-deklaracija.pdf" target="_blank">nešališkumo deklaraciją</a>, kuria įsipareigosi vykdydamas politikos
                                stebėsenos veiklą nepropaguoti nei vienos politinės partijos ir sąmoningai nepadėti jai veiklų metu.
                            </p>
                            <div class="form-check">
                                <input id="supratau" class="form-check-input" type="checkbox" name="entry.1815219958" value="Supratau">
                                <label for="supratau" class="form-check-label">Supratau</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="extrainfo" class="font-weight-bold">Papildoma informacija, kuria norėtum pasidalinti</label>
                            <input id="extrainfo" type="text" name="entry.1098721852" class="form-control">
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">
                                Patvirtinu, jog pateikiu teisingą informaciją ir sutinku, kad Žinau, ką renku
                                komanda su manimi susisiektų aukščiau nurodytais kontaktais, o taip pat, jog tvarkytų
                                mano asmens duomenis kaip tai reglamentuoja Lietuvos Respublikos ir Europos Sąjungos
                                teisės aktai.
                            </p>
                            <button type="submit" class="btn btn-primary pl-4 pr-4">Pateikti</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>

{% endblock %}
