{% extends "base/base-regular-page.html" %}
{% load static %}
{% block banner_title %}{% block title %}Prisijunk{% endblock %}{% endblock %}
{% block banner_class %}banner--about{% endblock %}
{% block main_content %}

    <main class="container container-content mt-3">
        <div class="card">
            <div class="card-body">
                <p>
                    Prieš praėjusius Seimo rinkimus girdėjome politikus sakant, kad
                    „politika – purvinas reikalas“, o tokio svarbaus dalyko kaip rinkimai negalima patikėti jauniems
                    žmonėms.
                    „Baikit –
                    nemanau“, - atsakome mes ir kviečiam prisijungti prie mūsų komandos 2019 metų rinkimų stebėjimui!
                </p>
                <h3><strong>Ką veiksi prisijungęs prie „Žinau, ką renku" tinklo?</strong></h3>

                <ul class="pl-4">
                    <li>
                        <p><span>Bursi bendraminčių komandas savo miestuose ir rajonuose, kurios stebės savivaldybės, nacionalinių ir Europos politikų veiklą tavo mieste,</span>
                        </p>
                    </li>
                    <li>
                        <p><span>Organizuosi ir dalyvausi diskusijose su kandidatais į 2020m. LR Seimo rinkimus</span>
                        </p>
                    </li>
                    <li>
                        <p><span>Organizuosi „Žinau, ką renku“ pristatymus &nbsp;savo bendruomenėse,</span>
                        </p>
                    </li>
                    <li>
                        <p><span>Organizuosi ir vykdysi socialines akcijas ir komunikaciją (pvz., bendrausite su žurnalistais, renginių vedėjais, skelbsi žinutes socialinėse medijose)</span>
                        </p>
                    </li>
                </ul>

                <h3><strong>Kodėl verta dalyvauti?</strong></h3>

                <p>Užmegsi daugybę įdomių pažinčių su politikais, žurnalistais ir bendraminčiais iš visos Lietuvos,
                    įgysi gebėjimų komunikacijos, viešojo kalbėjimo, renginių organizavimo, darbo komandoje,
                    informacinių technologijų ir kitose srityse.</p>
                <p>
                    O svarbiausia, prisidėsi prie skaidresnės ir atviresnės politikos formavimosi Lietuvoje.
                </p>
                <p>
                    Jei turi klausimų apie tinklą, rašyk
                    <a href="mailto:ausrine@zinaukarenku.lt">ausrine@zinaukarenku.lt</a>
                </p>
                <form action="https://docs.google.com/forms/d/e/1FAIpQLSf2FsR35Ot745VJ_nj1OCjB6m0QcmIFPyzCmLsU47OpRHoZSA/formResponse"
                      method="POST">
                    <fieldset>
                        <div><strong>Vardas, pavardė</strong></div>

                        <div><input id="firstlastname" type="text" name="entry.1149644569" class="form-control"
                                    style="background-size: 16px 18px; background: no-repeat scroll 98% 50%;">
                        </div>
                        <div>&nbsp;</div>
                        <div><strong>Savivaldybė, miestas, rajonas</strong></div>
                        <div><input id="savivaldybe" type="text" class="form-control" name="entry.1808753272"></div>
                        <div><strong>&nbsp;</strong></div>
                        <div><strong>Gimimo data</strong></div>
                        <div><input id="birthdate" type="date" class="form-control" name="entry.787407428"></div>
                        <div>&nbsp;</div>
                        <div><strong>Išsilavinimas (mokymo įstaiga (mokykla/universitetas ar kt.), metai (klasė/studijų
                            programa, kursas)</strong></div>
                        <div><input id="education" type="text" name="entry.2111987980" class="form-control"></div>
                        <div>&nbsp;</div>
                        <div><strong>El. paštas</strong></div>
                        <div><input id="email" type="text" class="form-control" name="entry.1896507839"></div>
                        <div>&nbsp;</div>
                        <div><strong>Telefono numeris</strong></div>
                        <div><input id="telnr" type="text" class="form-control" name="entry.107429591"></div>
                        <div>&nbsp;</div>
                        <div>&nbsp;<strong>Ar/kokios patirties turi visuomeninėje veikloje?</strong></div>
                        <div><textarea id="experience" rows="6"
                                       class="form-control"
                                       name="entry.613197017"></textarea>&nbsp;
                        </div>

                        <div>
                            <p><strong>Prie kurios srities/veiksmų manai, jog labiausiai norėtum prisidėti?</strong></p>
                            <label for="a1"><input id="a1" type="checkbox" name="entry.1534884251"
                                                   value="Susitikimų ir diskusijų su politikais organizavimas">&nbsp;Susitikimų
                                ir diskusijų su politikais organizavimas</label></div>
                        <div><label for="a2"><input id="a2" type="checkbox" name="entry.1534884251"
                                                    value="Komunikacija (socialinių medijų administravimas, bendravimas su žurnalistais ir pan.)">&nbsp;Komunikacija
                            (socialinių medijų administravimas, bendravimas su žurnalistais ir pan.)</label></div>
                        <div><label for="a3"><input id="a3" type="checkbox" name="entry.1534884251"
                                                    value="Politikų pasisakymų viešojoje erdvėje ir veiklos stebėjimas">&nbsp;Politikų
                            pasisakymų viešojoje erdvėje ir veiklos stebėjimas</label></div>
                        <div><label for="a4"><input id="a4" type="checkbox" name="entry.1534884251"
                                                    value="Analitinių straipsnių rengimas">&nbsp;Analitinių straipsnių
                            rengimas</label></div>
                        <div><label for="a5"><input id="a5" type="checkbox" name="entry.1534884251"
                                                    value="Virtualios platformos www.zinaukarenku.lt veikimas">&nbsp;Virtualios
                            platformos www.zinaukarenku.lt veikimas</label></div>
                        <div><label for="a6"><input id="a6" type="checkbox" name="entry.1534884251"
                                                    value="Edukacinių užsiėmimų apie politikų veiklą ir pilietiškumą savo bendruomenėje rengimas">&nbsp;Edukacinių
                            užsiėmimų apie politikų veiklą ir pilietiškumą savo bendruomenėje rengimas</label></div>
                        <div><label for="a7">Kita:&nbsp;</label><input id="a7" type="text" name="entry.1534884251"
                                                                       class="form-control">
                        </div>
                        <div>&nbsp;</div>
                        <div><strong>Trumpai aprašyk savo motyvaciją prisijungti prie „Žinau, ką renku“ tinklo</strong>
                        </div>
                        <div><textarea id="motivation" rows="5"
                                       name="entry.1749684762" class="form-control"></textarea></div>
                        <div><strong><label for="nesidomi">Kaip manai, kodėl jauni žmonės tavo aplinkoje nesidomi
                            politika?</label></strong></div>
                        <div><strong>&nbsp;</strong><textarea id="nesidomi"
                                                              rows="5"
                                                              name="entry.837527452" class="form-control"></textarea>
                        </div>
                        <div><strong><label for="problemos">Įvardyk 3 aktualiausias problemas savo savivaldybėje. Kodėl
                            jas pasirinkai?</label></strong></div>
                        <div><strong>&nbsp;</strong><textarea id="problemos"
                                                              rows="5"
                                                              name="entry.1141944849" class="form-control"></textarea>
                        </div>
                        <div>
                            <p>&nbsp;</p>
                            <p><strong>Iš kur sužinojai apie stebėsenos tinklą „Žinau, ką renku"?</strong></p>
                            <label for="b1"><input id="b1" type="checkbox" name="entry.1972270650"
                                                   value="Draugų, veikiančių iniciatyvoje">&nbsp;Draugų, veikiančių
                                iniciatyvoje</label></div>
                        <div><label for="b2"><input id="b2" type="checkbox" name="entry.1972270650"
                                                    value="Socialinių tinklų (Facebook, Instagram, Twitter)">&nbsp;Socialinių
                            tinklų (Facebook, Instagram, Twitter)</label></div>
                        <div><label for="b3"><input id="b3" type="checkbox" name="entry.1972270650"
                                                    value="Mokytojų ar jaunimo darbuotojų">&nbsp;Mokytojų ar jaunimo
                            darbuotojų</label></div>
                        <div><label for="b4">Kita:</label>&nbsp;<input id="b4" type="text" name="entry.1972270650"
                                                                       class="form-control">
                        </div>
                        <div>
                            <p>&nbsp;</p>
                            <p><strong>Tapęs tinklo nariu pasirašysi <a
                                    href="http://eurohouse.lt/wp-content/uploads/2018/07/Dalyvio-nesaliskumo-ir-konfidencialumo-deklaracija.pdf"
                                    target="_blank">nešališkumo deklaraciją</a>, kuria įsipareigosi vykdydamas politikos
                                stebėsenos veiklą nepropaguoti nei vienos politinės partijos ir sąmoningai nepadėti jai
                                veiklų metu.</strong></p>
                            <label for="supratau"><input id="supratau" type="checkbox" name="entry.1815219958"
                                                         value="Supratau">&nbsp;Supratau</label></div>
                        <div>&nbsp;</div>
                        <div><strong>Papildoma informacija, kuria norėtum pasidalinti</strong></div>
                        <div><input id="extrainfo" type="text" name="entry.1098721852" class="form-control"></div>
                        <div>
                            <p>&nbsp;</p>
                            <p><strong>Patvirtinu, jog pateikiu teisingą informaciją ir sutinku, kad Žinau, ką renku
                                komanda su manimi susisiektų aukščiau nurodytais kontaktais, o taip pat, jog tvarkytų
                                mano asmens duomenis kaip tai reglamentuoja Lietuvos Respublikos ir Europos Sąjungos
                                teisės aktai.</strong></p>
                            <p>
                                <button type="submit" class="btn btn-primary">Pateikti</button>
                            </p>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>

{% endblock %}