{% extends "base/base-regular-page.html" %}
{% load static %}
{% block title %}Profilis{% endblock %}
{% block main_content %}

    <main class="pt-5" style="height: 80vh;">
        <div class="container" style="height: 100%;">
            {% if error %}
                <div class="alert alert-danger">
                    <strong>{{ error }}</strong>
                </div>
            {% endif %}
            <div class="row justify-content-center align-items-center" style="height: 100%;">
                <div class="col-sm-12 col-lg-4 col-md-6">
                    <div class="card pt-5 pb-5">
                        <img src="{% static 'img/zkr-medium-logo.png' %}" width="120" style="margin: 0 auto;">
                        <h4 class="card-title text-center">
                            Prisijungti
                        </h4>
                        <div class="card-body">
                            {% include 'account/social-buttons.html' with process="connect" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}