{% extends 'base/base-page.html' %}
{% load crispy_forms_tags %}

{% load account socialaccount %}

{% block title %}Sign In{% endblock %}


{% block content %}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <h3 class="fw-400 font-dosis mb-20">Sign in</h3>
                    <p class="lead fw-400 opacity-65">Login with social networks or regular login.<br>
                        Do not have an account ? <a href="{{ signup_url }}">Sign up for an account</a></p>
                </div>
                <div style="max-width: 450px; min-width: 400px;">
                    <div class="card">
                        <div class="card-body">
                            {% include 'account/social-buttons.html' %}

                            <hr>

                            <form class="login" method="POST" action="{% url 'account_login' %}">
                                {% csrf_token %}
                                {% crispy form %}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <div class="form-actions">
                                    <button class="btn btn-block btn-bold btn-primary" type="submit">Sign In
                                    </button>
                                    <a class="btn btn-block"
                                       href="{% url 'account_reset_password' %}">Forgot Password?</a>

                                </div>
                            </form>
                        </div>
                        <footer class="card-footer text-center">
                            <a class="text-info opacity-70" href="{{ signup_url }}">Sign up for an account</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}