{% extends 'base/base-regular-page.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load account %} 
{% load i18n %} 
{% block main_content %}

<main class="container container-content d-flex justify-content-center align-items-center mt-3 mb-3">

    {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}

    <div class="card" style="max-width: 450px; min-width: 320px; min-height: 400px; margin: 0 auto;">
        <div class="card-body">
            <img src="{% static 'img/zkr-medium-logo.png' %}" class="d-block mb-4" width="120" style="margin: 0 auto;">

            <h3 class="card-title text-center">{% block title %}Slaptažodžio atstatymas{% endblock %}</h3>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% crispy form %}
                <input type="submit" class="btn btn-block btn-bold btn-primary" value="{% trans 'Atstatyti slaptažodį' %}" />
            </form>
        </div>
    </div>
</main>
{% endblock %}