{% extends 'base/base-page.html' %}

{% load crispy_forms_tags %}

{% load account %}
{% load i18n %}


{% block content %}
    <div class="container main-content">
        <div style="max-width: 450px;" class="mx-auto">
            <h3 class="fw-400 font-dosis mb-20 text-center">{% block title %}Password Reset{% endblock %}</h3>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="lead fw-400 opacity-65 text-center">Forgotten your password? Enter your e-mail address below, and
                we'll send you an e-mail allowing you to reset it.</p>
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {% crispy form %}
                        <input type="submit" class="btn btn-block btn-bold btn-primary"
                               value="{% trans 'Reset My Password' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}