{% extends 'base/base-regular-page.html' %}

{% load crispy_forms_tags %}

{% load account %}
{% load i18n %}


{% block main_content %}
    <div class="container main-content">
        <div style="max-width: 450px;" class="mx-auto mt-25">
            <h3 class="fw-400 font-dosis mb-20 text-center">{% block title %}Pamiršau slaptažodį{% endblock %}</h3>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="lead fw-400 opacity-65 text-center">Pamiršai slaptažodį?</p>
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% crispy form %}
                        <input type="submit" class="btn btn-block btn-bold btn-primary"
                               value="{% trans 'Atstatyti slaptažodį' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}