{% load account socialaccount %}

{% with google_social_account=user.google_social_account %}

    <form method="post" class="m-1">
        {% csrf_token %}

        {% if google_social_account %}
            <input type="hidden" name="account" value="{{ google_social_account.id }}">
            <button class="btn btn-label btn-google btn-block" type="submit">
                <label><i class="fa fa-google"></i></label>
                Disconnect from Google
            </button>
        {% else %}
            <a class="btn btn-label btn-google btn-block"
               href="{% provider_login_url "google" process=process %}"><label><i
                    class="fa fa-google"></i></label>
                Log in with Google</a>
        {% endif %}

    </form>
{% endwith %}


{% with facebook_social_account=user.facebook_social_account %}

    <form method="post" class="m-1">
        {% csrf_token %}

        {% if facebook_social_account %}
            <input type="hidden" name="account" value="{{ facebook_social_account.id }}">
            <button class="btn btn-label btn-facebook btn-block" type="submit">
                <label><i class="fa fa-facebook"></i></label>
                Disconnect from Facebook
            </button>
        {% else %}
            <a class="btn btn-label btn-facebook btn-block"
               href="{% provider_login_url "facebook" process=process %}"><label><i
                    class="fa fa-facebook"></i></label>
                Log in with Facebook</a>
        {% endif %}

    </form>
{% endwith %}