{% extends 'base/base-regular-page.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% load account socialaccount %}

{% block title %}El. pašto patvirtinimas{% endblock %}

{% block main_content %}
    <main class="container container-content d-flex justify-content-center align-items-center mt-3 mb-3">
        <div class="card" style="max-width: 450px; min-width: 320px; margin: 0 auto;">
            <div class="card-body text-center">

                <img src="{% static 'img/zkr-medium-logo.png' %}" class="d-block mb-4" width="120"
                     style="margin: 0 auto;">

                <p>
                    Jūsų elektrononiu paštu išsiuntėme laišką reikalingą
                    elektroninio pašto patvirtinimui.
                </p>
                <p>
                    Sekite nurodymus laiške, kad užbaigtumėte registraciją.
                </p>
                <p>
                    Prašome susisiekti su mumis, jei per kelias minutes negausite laiško.
                </p>
            </div>
        </div>
    </main>
{% endblock %}