{% extends 'base/base.html' %}
{% load static %}

{% block main_container %}

    <div class="phone_screen desktop">
        <nav class="nav-main">
            <div class="container">
                <h1 class="sr-only">Žinau, ką renku</h1><a class="navbar-brand" href="/"><img
                    src="{% static 'img/zkr-logo.png' %}" alt="Žinau, ką renku"/></a><span>Pažink Politiką</span>
                <button class="btn btn-menu d-lg-none"><span class="bar lg-bar bar-m-one"></span><span
                        class="bar md-bar bar-m-two"></span><span class="bar md-bar bar-m-three"></span></button>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <footer class="text-center pb-2"><span class="d-block text-muted text-eyebrow">&copy 2018 Žinau, ką renku</span>
        </footer>
    </div>
{% endblock %}