{% extends "base/base-page.html" %}
{% load static %}
{% load capture_tags %}

{% block content %}
    {% capture as banner_title silent %}{% block banner_title %}{% endblock %}{% endcapture %}
    {% capture as banner_description silent %}{% block banner_description %}{% endblock %}{% endcapture %}

    {% if banner_title or banner_description %}
        <div class="banner banner--home d-flex align-items-center justify-content-center mb-3">
            <div class="container text-center mt-4">
                {% if banner_title %}
                    <h2 class="text-600">{{ banner_title }}</h2>
                {% endif %}
                {% if banner_description %}
                    <p>{{ banner_description }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <main class="mb-3">
        {% block main_content %}{% endblock %}

        <div class="container container-content mt-3 mb-3">
            <div class="card banner--newsletter pt-4 pb-4 pl-2 pr-2">
                {% include 'web/component/subscribe-newsletter.html' %}
            </div>
        </div>
    </main>

{% endblock %}