{% extends "base/base.html" %}
{% load static %}
{% load capture_tags %}

{% block page_content %}
    {% capture as banner_title silent %}{% block banner_title %}{% endblock %}{% endcapture %}
    {% capture as banner_description silent %}{% block banner_description %}{% endblock %}{% endcapture %}
    {% capture as banner_class silent %}{% block banner_class %}{% endblock %}{% endcapture %}

    {% if banner_title or banner_description %}
        <div class="banner {% if banner_class %}{{banner_class }}{% endif %} d-flex align-items-center justify-content-center">
            <div class="container text-center mt-4">
                {% if banner_title %}
                    <h2 class="text-500">{{ banner_title }}</h2>
                {% endif %}
                {% if banner_description %}
                    <p>{{ banner_description }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}


    {% block map %} {% endblock %}
    {% block main_content %}{% endblock %}


{% endblock %}