{% load static %}
{% load capture_tags %}
{% load full_static %}
{% load raven %}
{% load setting_tags %}

{% settings_value "GIT_COMMIT" as GIT_COMMIT %}
<!DOCTYPE html>
<html lang="lt" prefix="og: http://ogp.me/ns#">

<head>
    {% capture as meta_title silent %}{% block title %}{% endblock %}{% endcapture %}
    {% capture as meta_description silent %}{% block description %}{% endblock %}{% endcapture %}
    {% capture as meta_keywords silent %}{% block keywords %}{% endblock %}{% endcapture %}

    {% capture as image silent %}{% block image %}{% endblock %}{% endcapture %}
    {% capture as video silent %}{% block video %}{% endblock %}{% endcapture %}

    <meta charset="utf-8">
    <title>{{ meta_title }} | Žinau, ką renku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?v={{ GIT_COMMIT }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css"
          integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ GIT_COMMIT }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <meta name="og:title" content="{{ meta_title }}">
    <meta name="og:site_name" content="Žinau, ką renku">
    {% if meta_description %}
        <meta name="og:description" content="{{ meta_description }}">
    {% endif %}
    {% if image %}
        <meta name="og:image" content="{{ image }}">
    {% else %}
        <meta name="og:image" content="{% full_static 'img/zkr-big-square-logo.png' %}">
    {% endif %}
    {% if video %}
        <meta property="og:video" content="{{ video }}"> {% endif %}
    <meta name="og:type" content="website">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-59241682-1', 'auto');
        ga('send', 'pageview');
    </script>

    <link rel="manifest" href="{% static 'notifications/manifest.json' %}"/>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "d1fb5228-48f3-4b9e-ac57-24527153440f",
                safari_web_id: "web.onesignal.auto.1172fa5f-6e39-45ba-9a29-ceb4d8311220",
                autoRegister: false
            });
        });
    </script>
    {% block head %}{% endblock %}
</head>

<body>
{% block extra_body_start %}
{% endblock %}

{% block main_container %}
    <nav class="navbar navbar-default fixed-top">
        <div class="container">
            <h1 class="sr-only">Žinau, ką renku</h1>
            <a class="navbar-brand" href="/">
                <img src="{% static 'img/zkr-logo.png' %}" alt="Žinau, ką renku logotipas" class="d-inline-bl">
            </a>
            <div class="float-right d-none d-md-block align-middle">
                <a class="text-center pr-1 pl-1" aria-current="false" href="{% url 'index' %}">Pradžia</a>
                <a class="text-center pr-1 pl-1" aria-current="false" href="{% url 'seimas_index' %}">Seimas</a>
                <a class="text-center pr-1 pl-1" aria-current="false" href="{% url 'seimas_politician_game' %}">Pažink politiką</a>
                <a class="text-center pr-1 pl-1" aria-current="false" href="{% url 'questions_list' %}">Klausimai politikams</a>
                {% if user.is_superuser %}
                <a class="text-center pr-1 pl-1" aria-current="false" href="{% url 'elections' %}">Rinkimai</a>
                {% endif %}
                <a class="text-center pr-1 pl-1" aria-current="false" href="{% url 'about' %}">Apie mus</a>

                <div class="d-inline-block pl-1">
                    {% include 'web/component/account-avatar.html' %}
                </div>
            </div>
            <div class="d-md-none">
                <button id="open_menu" class="btn btn-menu">
                    <span class="bar lg-bar bar-m-one"></span>
                    <span class="bar md-bar bar-m-two"></span>
                    <span class="bar md-bar bar-m-three"></span>
                </button>
                <button id="close_menu" class="d-none btn btn-close ">
                    <span class="bar lg-bar bar-one"></span>
                    <span class="bar lg-bar bar-two"></span>
                </button>

                <div class="d-inline-block pl-2">
                    {% include 'web/component/account-avatar.html' %}
                </div>
            </div>

        </div>
    </nav>
    <div id="mobile_nav" class="d-none mobile-nav">
        <div class="container">
            <ul class="pl-0 list-unstyled">
                <li>
                    <a class="d-block mb-1 mobile-nav-item" aria-current="false" href="{% url 'index' %}">Pradžia</a>
                </li>
                <li>
                    <a class="d-block mb-1 mobile-nav-item" aria-current="false" href="{% url 'seimas_index' %}">Seimas</a>
                </li>
                <li>
                    <a class="d-block mb-1 mobile-nav-item" aria-current="false" href="{% url 'seimas_politician_game' %}">Pažink politiką</a>
                </li>
                <li>
                    <a class="d-block mb-1 mobile-nav-item" aria-current="false" href="{% url 'questions_list' %}">Klausimai politikams</a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a class="d-block mb-1 mobile-nav-item" aria-current="false" href="{% url 'elections' %}">Rinkimai</a>
                </li>
                {% endif %}
                <li>
                    <a class="d-block mb-1 mobile-nav-item" aria-current="false" href="{% url 'about' %}">Apie mus</a>
                </li>
            </ul>
        </div>
    </div>
    {% block page_content %}{% endblock %}

    <footer class="pt-2 pb-2">
        <div class="container">
            <div class="row ml-0 mr-0">
                <div class="col-sm-12 col-lg-8 d-flex justify-content-center justify-content-lg-start">
                    <ul>
                        <li>
                            <a href="https://medium.com/@Zinaukarenku" class="text-eyebrow"
                               target="_blank"
                               title="Tinklaraštis - Žinau, ką renku">Tinklaraštis</a>
                        </li>
                        <li>
                            <a href="https://eurohouse.lt" class="text-eyebrow"
                               target="_blank"
                               title="Europos Namai">Europos Namai</a>
                        </li>
                        <li><a href="https://www.facebook.com/zinaukarenku/?fref=ts" class="text-eyebrow"
                               title="Facebook - Žinau, ką renku" target="_blank" rel="noreferrer">Facebook</a></li>
                        <li><a href="https://twitter.com/zinaukarenku" class="text-eyebrow"
                               title="Twitter - Žinau, ką renku" target="_blank" rel="noreferrer">Twitter</a></li>
                        <li><a href="https://www.instagram.com/zinaukarenku/" class="text-eyebrow"
                               title="Instagram - Žinau, ką renku" target="_blank" rel="noreferrer">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-lg-4 d-flex justify-content-center justify-content-lg-end mb-2 pl-0 pr-0">
                    <span class="text-muted text-eyebrow">© 2018 Žinau, ką renku</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

<script src="{% static 'js/raven.min.js' %}?v={{ GIT_COMMIT }}"></script>
<script>Raven.config('{% sentry_public_dsn 'https' %}').install()</script>
<script src="{% static 'js/jquery.min.js' %}?v={{ GIT_COMMIT }}"></script>
<script src="{% static 'js/popper.min.js' %}?v={{ GIT_COMMIT }}"></script>
<script src="{% static 'js/bootstrap.min.js' %}?v={{ GIT_COMMIT }} "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"
        integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ=" crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}?v={{ GIT_COMMIT }}"></script>
{% block script %}{% endblock %}
</body>

</html>